<form action="/quizes" method="get">
	<input type="text" name="search" value="<%= search %>" placeholder="Buscar texto en preguntas...">
	<input type="submit" value="Buscar">
</form>

<ul>
	<% var i; for (i=0; i < quizes.length; i++) { %>
		<li>
			<span>[<%= quizes[i].tema %>]</span>
			<a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
			<% if (session.user) { %>
				<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete" class="delete-question__form">
					<a href="quizes/<%= quizes[i].id %>/edit"><input type="button" value="Editar"></a>
					<input type="submit" onclick="return confirm('Borrar: <%= quizes[i].pregunta %>');" value="Borrar">
				</form>
			<% } %>
		</li>
	<% } %>
</ul>

<% if (session.user) { %>
	<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
<% } %>
